body {
    background-color: white;
    background-image: url(https://i.imgur.com/np6MEBT.jpg);
    color: black;
    width: 500px;
    margin: 0 auto;
    border-left: 5px solid darkslategray;
}

h1 {
    color: darkslategray;
    text-align:center;
}