{% extends "layout.html" %}
{% block body_content %}
    <div class="row">
        <div class="column">
            <h3>Queue:</h3>
            {% for ticket in open_tickets.tickets %}
                <h3>{{ ticket.title }}</h3>
                <b>{{ ticket.author }}</b><br>
                <i>submitted at {{ ticket.time_created }}</i><br>
                {{ ticket.description }}<br>
                <br>
                <form method="GET" action="{{ url_for('close_ticket', id = ticket.id) }}">
                <div class="form-group">
                    {{ done_button.add_button }}
                </div>
            {% endfor %}
        </div>
        <div class="column">
            <h3>Completed:</h3>
            {% for ticket in closed_tickets.tickets %}
                <h3>{{ ticket.title }}</h3>
                <b>{{ ticket.author }}</b><br>
                <i>submitted at {{ ticket.time_created }}</i><br>
                {{ ticket.description }}<br>
                <br>
            {% endfor %}
        </div>
    </div>
{% endblock body_content %}