body {
    background-color: white;
    color: darkslategray;
    width: auto;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
}

h1 {
    color: darkslategray;
    text-align:center;
}

h2 {
    color: darkslategray;
}

h3 {
    color: darkslategray;
}

h4 {
    color: darkslategray;
}

a {
    color: aquamarine;
}

.navbar {
    text-align: center;
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
}